<div class="row mt-5 ml-5">
  <div class="col-md-5 col-xs-5 col-sm-5 shadow-left">
    <div class="container">
      <div class="row">

      </div>

      <hr>

      <div class="row">

      </div>
    </div>
  </div>

  <div class="col-md-7 col-xs-7 col-sm-7">
      <div class="container mt-3">
        <div class="media border p-3">
          <i class="fa fa-user-circle-o fa-4x mr-3 mt-3 rounded-circle fa-color"></i>
          <div class="media-body">
            <h4> <small><i>John Doe</i></small></h4>
            <p><a href="" target="_blank">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora praesentium nostrum deserunt, ullam dolor fugit sed cumque, est enim vel, voluptatem aliquid. Vero animi exercitationem est quo magnam ipsa repellat.</a> </p>
          </div>
        </div>
    </div>

    <div class="container mt-3">
      <div class="media border p-3">
        <i class="fa fa-user-circle-o fa-4x mr-3 mt-3 rounded-circle fa-color"></i>
        <div class="media-body">
          <h4> <small><i>John Doe</i></small></h4>
          <p><a href="" target="_blank">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora praesentium nostrum deserunt, ullam dolor fugit sed cumque, est enim vel, voluptatem aliquid. Vero animi exercitationem est quo magnam ipsa repellat.</a> </p>
        </div>
      </div>
  </div>

  <div class="container mt-3">
    <div class="media border p-3">
      <i class="fa fa-user-circle-o fa-4x mr-3 mt-3 rounded-circle fa-color"></i>
      <div class="media-body">
        <h4> <small><i>John Doe</i></small></h4>
        <p><a href="" target="_blank">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora praesentium nostrum deserunt, ullam dolor fugit sed cumque, est enim vel, voluptatem aliquid. Vero animi exercitationem est quo magnam ipsa repellat.</a> </p>
      </div>
    </div>
</div>
  </div>


</div>
