<div class="row mt-5 ml-5">

  <div class="col-md-5 col-xs-5 col-sm-5 shadow-left">
    <div class="container">
      <div class="row">
          <app-photo-upload (responseEmit)="celebrityCheck($event)"></app-photo-upload>
      </div>
    </div>
  </div>

  <div class="col-md-7 col-xs-7 col-sm-7">
    <div class="container mt-3 div-scroll">
        <div class="media border p-3" *ngFor="let item of celebritydetails" >
          <i class="fa fa-user-circle-o fa-4x mr-3 mt-3 rounded-circle fa-color"></i>
          <div class="media-body">
            <hr>
            <h4> <small><i> {{item.name}}</i></small></h4>
            <hr>
            <p><a class="btn btn-outline-danger pull-right" (click)="celebrityProfile(item.url)" >Click to view profile </a> </p>
          </div>
        </div>
    </div>
  </div>

</div>

<div class="container">
    <div class="row">
        {{awsResponse?.unMatchCount}} 0
    </div>
</div>
