<div class="row mt-5">
  <div class="col-md-5  shadow-left">
      <div class="container">
          <app-photo-upload (responseEmit)="celebrityCheck($event)"></app-photo-upload>
    </div>
  </div>

  <div class="col-md-6" *ngIf="celebritydetails?.length" [@openClose]="isOpen ? 'open' : 'closed'">
    <div class="container mt-3 div-scroll">
        <div class="media border p-3" *ngFor="let item of celebritydetails" >
          <i class="fa fa-user-circle-o fa-4x mr-3 mt-3 rounded-circle"></i>
          <div class="media-body">
            <hr>
            <h4> <small><i> {{item.name}}</i></small></h4>
            <hr>
            <p><a class="btn btn-outline-danger pull-right" (click)="celebrityProfile(item.url)" >Click to view profile </a> </p>
          </div>
        </div>
    </div>
  </div>

  <div class="col-md-1" *ngIf="celebritydetails?.length">
      <p class="badge badge-danger p-4"> {{ celebritydetails?.length}} <small>celebrities found in picture</small></p>
  </div>

</div>


    <div class="row">
        <div class="container">
        {{awsResponse?.unMatchCount}}
      </div>
    </div>

